@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes progress-1 {
  from {
    stroke-dashoffset: 360;
  }

  to {
    stroke-dashoffset: 100;
  }
}

.clock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.digit {
  width: 30px;
  height: 100%;
  position: relative;
  display: inline-block;
}

.digit .segment {
  background: #fb7185;
  border-radius: 5px;
  position: absolute;
  opacity: 0.15;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
}

.digit .segment.on,
.separator {
  opacity: 1;
  box-shadow: 0 0 50px rgba(251, 113, 133, 0.7);
  transition: opacity 0s;
  -webkit-transition: opacity 0s;
  -ms-transition: opacity 0s;
  -moz-transition: opacity 0s;
  -o-transition: opacity 0s;
}

.digit .segment:nth-child(1) {
  top: 0px;
  left: 5px;
  right: 5px;
  height: 2px;
}

.digit .segment:nth-child(2) {
  top: 4px;
  right: 4px;
  width: 2px;
  height: calc(50% - 8px);
}

.digit .segment:nth-child(3) {
  bottom: 4px;
  right: 4px;
  width: 2px;
  height: calc(50% - 8px);
}

.digit .segment:nth-child(4) {
  bottom: 0;
  right: 6px;
  height: 2px;
  left: 4px;
}

.digit .segment:nth-child(5) {
  bottom: 4px;
  left: 3px;
  width: 2px;
  height: calc(50% - 8px);
}

.digit .segment:nth-child(6) {
  top: 4px;
  left: 3px;
  width: 2px;
  height: calc(50% - 8px);
}

.digit .segment:nth-child(7) {
  bottom: calc(50% - 1px);
  right: 6px;
  left: 6px;
  height: 2px;
}